.index-title {
  color: rgba(0, 0, 0, 0.84);
  margin-top: 20px;
}
.index-sub {
  color: rgba(0, 0, 0, 0.54);
}
.index-text {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.44);
}
.index-image {
  width: 400px;
}
.social-icon {
  color: rgba(0, 0, 0, 0.44);
  font-size: 1.5rem;
}
.clock {
  margin-left: 25px;
}
.jumbotron.fortags a {
  background: #1c9963 !important;
}
.error {
  text-align: center !important;
}
@media (min-width: 769px) {
  .md-nopad-right {
    padding-right: 0px !important;
  }
  .md-nopad-left {
    padding-left: 0px !important;
  }
}

div.col-md-9.flex-first.flex-md-unordered {
  margin: 0 auto;
}

.email-signup {
  width: 100%;
  text-align: center;
  margin-bottom: 150px;
  font-family: Righteous;
}

.email-signup > button {
  border: 1px solid #038252;
  background-color: #9fc8b8;
  padding: 20px;
  border-radius: 10px;
}

.email-signup > button:hover {
  border: 1px solid #038252;
  background-color: #7fc0a7;
  padding: 20px;
  border-radius: 10px;
}

.email-signup > button:focus {
  -webkit-box-shadow: inset 0px 0px 16px -6px #000000; 
  box-shadow: inset 0px 0px 16px -6px #000000;
}